body{
    background-color: #eee;
}
nav .navbar{
    background-color: #348feb;
}
.author-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile-image {
    width: 100%;
}